.login-form-item {
  font-size: 1.25rem;
  letter-spacing: 1.5px!important;
  line-height: 1.5;
  margin: 0 .5rem .5rem .5rem;
}

.input-field-class {
  font-size: 1.25rem;
  padding: 10px;
  margin: 0 10px 0 0;
  letter-spacing: 1.5px;
  width: 100%!important;
}